.c-arrow {
	position: relative;
	&::after {
		content:"";
		display: block;
		width: 7px;
		height: 7px;
		border-top: 2px solid #969696;
		border-right: 2px solid #969696;
		-webkit-transform: rotate( 45deg );
		transform: rotate( 45deg );
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -5px;
	}
	&--red {
		@extend .c-arrow;
		&::after {
			border-top: 2px solid $color--red;
			border-right: 2px solid $color--red;
		}
	}
}
