extend includes/_layout
append variables
	//- Required
	- var pageTitle= "";
	- var pageDescription= site.description;
	- var pageKeywords= site.keywords;
	//- Optional
	- var pageOgpTitle= "";
	- var pageOgpImage= site.ogpImage
	- var pageLang= "ja";
	- var pageOgpType= "website";
	//- Not modified
	- var pageUrl= site.relativePath;

block content
	+gnavi( pageUrl )
	// contents
	h2= pageUrl
	p Contents
	// /contents
